RewriteEngine On

# Evitar reescritura si el archivo o directorio existe físicamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todo lo demás al index.php
RewriteRule ^ index.php [QSA,L]
